.game-area {
  display: flex;
  flex-direction: column;
}

.zones-changes {
  display: flex;
  background-color: red;
  flex-direction: row;
}

.history {
  background-color: yellowgreen;
  min-width: 150px;
}

.board-state {
  display: flex;
  flex-direction: row;
}

.battlefield {
  flex-grow: 1;
  display:flex;
  flex-wrap:wrap;
  background-color: purple;
  align-content: flex-start;
}

.in-play, .in-play img{
  background-color: blue;
  max-width:143px;
  max-height:310px;
}

.floating {
  position: absolute;
}