.battlefield {
  display: flex;
  flex-direction: row-reverse;
  flex-wrap: wrap;
}

.in-play, .in-play img{
  margin-right: 10px;
  margin-left: 15px;
  max-width:223px;
  max-height:310px;
}

.in-play .name{
  min-height:60px;
  width:100%;
  background-color: red;
}

.in-play .rules-text{
  min-height:160px;
  background-color: salmon;
}